.workout-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .workout-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .workout-detail {
    margin-bottom: 5px;
  }
  