.homeContainer {
    display: flex;
    justify-content: space-between; /* Adjust spacing between children */
    align-items: flex-start; /* Align items at the top */
  }
  
  .workoutsList {
    flex: 1; /* Allow workouts list to grow and fill available space */
    margin-right: 20px; /* Add spacing between workouts list and form */
  }
  
  .workoutForm {
    width: 300px; /* Set fixed width for workout form */
  }
  